#navbar {
    background-color: grey;
    margin: bottom 40px;
}
#navbar img {
    width: 100px;
}
#llama{
    width: 40px;
}
section{
    display:flex;
    background-color: silver;
    border-radius: 60px;
padding: 10px 50px 20px;
    width:fit-content;
    margin-top: 1em;
    
}
.maincontainer{
    display:flex;
    flex-direction: column;
}
.main{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
charizard1 {
    padding: 1em;
    justify-content: flex-start;
}
/* #llama {
    position:absolute;top: 50px;left: 100px;
    width: 50px;
} */
/* #main-title {
    
   
    position:absolute; top:50px; left:100px;
    padding-right:20px; padding-left:60px;padding-top: 20px;padding-bottom: 20px;
   
} */
body{
    background-color:rgb(181, 165, 165);
}
#charizard{
    margin: top 200px;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
    width:min-content;
}
/* .content-table {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: yellow;

    
    } */
