#navbar {
    background-color: grey;
    width: 100%;
    border-radius: 60px;


}

#navbar img {
    width: 10%;
}

#llama {
    height: 20px;
    align-items: center;
}

.main_article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__title {
    background-color: gray;
    display: flex;
    background-color: silver;
    border-radius: 60px;
    padding: 10px 50px 20px;
    margin-top: 1em;
    align-items: center;
    width: fit-content;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table {
    display: flex;
    background-color: silver;
    border-radius: 60px;
    padding: 10px 50px 20px;
    width: fit-content;
    margin-top: 1em;
    align-items: center;

}

h4 {
    display: flex;
    background-color: silver;
}



#charizard1 {
    padding: 2em;
    justify-content: flex-start;
    margin: top 200px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: min-content;
}

body {
    background-color: rgb(181, 165, 165);
}


.footerimages h2 {

    font-size: medium;
    padding: 20px 50px 20px;
    width: fit-content;
    margin-top: 1em;
    left: 150px;
    justify-self: right;
}

#main-title {
    font-size: medium;
}

.footerimages img {
    padding: 30px;

    height: 30px;

    background-color: silver;
    border-radius: 60px;
}



.footerimages li {
    float: right;
    margin-left: 120px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: space-evenly;

}

footer {

    background-color: gray;
    display: flex;
    background-color: silver;
    border-radius: 60px;
    padding: 10px 50px 20px;
    margin-top: 1em;

}

.footerimages img:hover {
    background-color: orange;
}

@media screen and (min-width:480px) and (max-width:1600px) {
    .main {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #navbar {
        background-color: grey;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #navbar img {
        width: 40%;
    }

    .main_article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .main_title {
        padding: 10px 50px 20px;
    }

    footer {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footerimages img {
        padding: 40px;
        height: 100px;
        /* aumenta la altura de la imagen */
        width: 100px;
        /* aumenta el ancho de la imagen */
    }

    .footerimages li {
        display: flex;
        justify-content: center;
        /* centra horizontalmente los elementos */
        align-items: center;
        /* centra verticalmente los elementos */
        margin-left: 0;
    }

    .footerimages li:hover {
        background-color: orange;
    }
    .footerimages{
        width:400px ;
    }
}